.ipynb_checkpoints/adm_test-checkpoint.ini
.ipynb_checkpoints/explanatory-checkpoint.ini
.ipynb_checkpoints/explanatory_twin-checkpoint.ini
adm_test_forsandip.ini
adm_test_photorec.ini
adm_test_rayleigh.ini
base_2015_plikHM_TT_lowTEB_lensing.ini
base_2018_plikHM_TTTEEE_lowl_lowE_lensing.ini
build/arrays.o
build/background.o
build/class.o
build/common.o
build/dei_rkck.o
build/distortions.o
build/energy_injection.o
build/evolver_ndf15.o
build/evolver_rkck.o
build/fourier.o
build/growTable.o
build/harmonic.o
build/helium.o
build/history.o
build/hydrogen.o
build/hyperspherical.o
build/hyrectools.o
build/injection.o
build/input.o
build/lensing.o
build/noninjection.o
build/output.o
build/parser.o
build/perturbations.o
build/primordial.o
build/quadrature.o
build/sparse.o
build/thermodynamics.o
build/transfer.o
build/trigonometric_integrals.o
build/wrap_hyrec.o
build/wrap_recfast.o
explanatory_twin.ini
external/HyRec2020/.ipynb_checkpoints/history-checkpoint.h
external/HyRec2020/.ipynb_checkpoints/two_photon_tables-checkpoint.dat
external/HyRec2020/Alpha_Extended_300_4col.dat
external/heating/.ipynb_checkpoints/
include/.ipynb_checkpoints/arrays-checkpoint.h
include/.ipynb_checkpoints/perturbations-checkpoint.h
notebooks/
output/
python/.ipynb_checkpoints/
scripts/
source/.ipynb_checkpoints/input_logspaced-checkpoint.c
source/.ipynb_checkpoints/output-checkpoint.c
source/.ipynb_checkpoints/perturbations-checkpoint.c
thermodynamics_nohelium_draft1.c
thermodynamics_withtwinhelium.c
tools/.ipynb_checkpoints/arrays-checkpoint.c
twin_recombination.txt
